<!DOCTYPE html>
<html>
  <body>
    <div data-role="page" id="addStationDialog">
      <div data-role="header">
      <h1>Add Radio Station</h1>
      </div>
      <div data-role="content">
        <label for="stationUrl" class="ui-hidden-accessible">Radio station url</label>
        <input type="text" id="stationUrl" name="url" placeholder="Radio station url"/>
        <div data-role="collapsible" data-mini="true" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d">
          <h3>Optional</h3>
          <label for="stationName" class="ui-hidden-accessible">Radio station name</label>
          <input type="text" name="name" id="stationName" placeholder="Radio station name"/>
          <label for="playlistUrl" class="ui-hidden-accessible">Playlist URL</label>
          <input type="text" name="playlistUrl" id="playlistUrl" placeholder="Radio station playlist URL"/>
          <label for="playlistRegexp" class="ui-hidden-accessible">Playlist XPath</label>
          <input type="text" name="playlistRegexp" id="playlistRegexp" placeholder="Playlist RegExp to select current song information"/>
        </div>
        <a href="#" data-role="button" class="ui-disabled" id="addStationButton">Add</a>
      </div>
    </div>
  </body>
</html>
